<p>FRENCH TACOS 🌮</p>
<small>all dishes are served with French fries, sliced ​​cheese</small>
<div class="container">
    <div class="row">
        <div class="col col-md-6 col-lg-4" *ngFor="let product of products| slice:0:6" >
          
                <div class="card-body d-flex justify-content-between">
                    <div class="menu-item">
                        <div class="item-content">
                            <p> Pizza Margherita</p>
                            <h3>with tomato sauce, cheese and basil</h3>
                            <span class="price">€6.50</span>
                        </div>
                        <div class="item-image">
                            <img src="assets/img/menu-6.jpg" alt="French Taco Spinaci Mozzarella">
                            <button class="add-button">+</button>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</div>


                                